.container {
  width: Calc(50% - 10px * 2);
  min-height: 100%;
  margin: 10px;
  border-radius: 0.75rem;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.RotationListClean {
  border-radius: 0.75rem 0 0.75rem 0;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  padding: 12.5px;
  svg {
    color: rgb(200, 60, 60) !important;
  }

  * {
    transition: all ease-in-out .1s;
  }

  &:hover * {
    fill: lighten(rgb(200, 60, 60), 20);
  }

  @media screen and (max-width: 900px) {
    padding: 5px;
  }
}

.skillContainer {
  display: flex;
}

.skillName {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  color: rgb(200, 60, 60);
  margin: 5px 0;
  cursor: pointer;

  * {
    transition: all ease-in-out .1s;
  }

  &:hover * {
    fill: lighten(rgb(200, 60, 60), 20);
  }
}