.pageTitle {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
}

.characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -10px -10px 0 -10px;
}

.iconTrashAlt {
  size: 20px;
  margin: 5px 0;

  * {
    transition: all ease-in-out .1s;
  }

  &:hover * {
    fill: lighten(rgb(200, 60, 60), 20);
  }
}

.iconPencilAlt {
  size: 20px;
  margin: 5px 0;

  * {
    transition: all ease-in-out .1s;
  }

  &:hover * {
    fill: lighten(rgb(60, 200, 60), 20);
  }
}