.card {
  font-size: 1.25rem;
  width: 275px;
  min-height: 225px;
  border-radius: 0.75rem;
  overflow: hidden;
  margin: 10px;
}

.characterContainer {
  display: flex;
  position: relative;
  height: 140px;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(#000, .2);
    left: 0;
    top: 0;
  }
}

.characterNamecard {
  display: flex;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  position: absolute;
  opacity: .8;
}

.characterDelete {
  display: flex;
  border-bottom-right-radius: 0.75rem;
  position: absolute;
  padding: 0 5px;
  z-index: 2;
  cursor: pointer;
  flex-direction: column;
}

.icon {
  size: 20px;
  color: rgb(200, 60, 60);
  margin: 5px 0;

  * {
    transition: all ease-in-out .1s;
  }

  &:hover * {
    fill: lighten(rgb(200, 60, 60), 20);
  }
}

.characterImage {
  margin-right: 5px;
  z-index: 1;
}

.characterInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 10px 10px 15px 0;
  justify-content: space-between;
}

.characterNameElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characterName{
  font-weight: bold;
  line-height: 1;
  font-size: 1.4rem;
}

.lvlConstellations {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.constellations{
  text-align: center;
  padding: 0 8px;
  border-radius: 0.75rem;
}

.weaponContainer {
  display: flex;
  position: relative;
  margin: 12px 10px;
  padding: 5px;
  border-radius: 0.75rem;
  align-items: center;
}

.weaponImage {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.weaponInfo {
  display: flex;
  flex-direction: column;
}

.statsContainer {
  margin: 10px;
}

.stats {
  display: flex;
  margin: 5px;
  justify-content: space-between;
}

.iconStat {
  display: inherit;
  svg{
    margin-right: 5px;
    width: 1.1rem;
  }
}
