.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.star4 {
  background-image: linear-gradient(to bottom right,#595482,#b886ca);
}

.star5 {
  background-image: linear-gradient(to bottom right,#695453,#e6ac54);
}