.artifactSet {
  width: 100%;
  margin-right: 5px;
}

.artifactsModalContainer {
  width: 100%;
}

.artifactsSetContainer {
  display: flex;
}

.accordionContainer {
  position: relative;
}

.accordionBody {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px !important;

  &:focus {
    box-shadow: none !important;
  }
}

.accordionHeader {
  font-size: 0.8rem;
}

.editableContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.editableInput {
  text-align: start !important;

  &:focus {
    box-shadow: none !important;
  }
}

.accordionItemsContainer {
  min-width: 100%;
  position: absolute;
  border-radius: 1rem;
  padding: 10px 0 !important;
}

.artifactSetContainer {
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: rgba(200, 200, 200, 0.2);
  }
}

.artifactSetImage {
  width: 30px;
  margin: 0 10px 0 20px;
}

.accordionSetRarity {
  position: relative;
  height: 100%;
}

.accordionSetRarityContainer {
  height: 100%;
}

.iconStat {
  fill: white;
  display: inherit;

  svg{
    margin-right: 5px;
    width: 1.1rem;
  }
}

.iconRarityStat {
  margin: 0 15px 0 20px;
  fill: white;
  display: inherit;

  svg{
    margin-right: 5px;
    width: 1.1rem;
  }
}