.artifactModal {
  border-radius: 0.75rem !important;
}

.artifactEditor {
  width: 100%;
}

.artifactsModalContainer {
  margin-right: -5px;
}

.artifactsEditorModal {
  display: flex;
  margin-bottom: 10px;
}

.artifactSet {
  margin-right: 5px;
}

.accordionContainer {
  position: relative;
  height: 100%;
  border-radius: 0.75rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}

.accordionItemContainer {
  margin: 0 0 0 10px;
  height: 100%;
  border: 0;
}

.accordionBody {
  height: 100%;
  justify-content: space-between;
  padding: 0 0 0 10px !important;

  &:focus {
    box-shadow: none !important;
  }
}

.accordionEditorContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 10px !important;
}

.editorHeader {
  margin-top: 5px;
  font-size: 0.8rem;
}

.editableInput {
  text-align: start !important;

  &:focus {
    box-shadow: none !important;
  }
}

.editableLvl {
  text-align: start !important;
  width: 100%;

  &:focus {
    box-shadow: none !important;
  }
}

.accordionPanelContainer {
  min-width: 100%;
  position: absolute;
  border-radius: 0.75rem;
  padding: 10px 0 !important;
  z-index: 1;
}

.artifactSetContainer {
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  overflow: hidden;
}

.artifactSetImage {
  width: 30px;
  margin: 0 0 0 10px;
}

.iconRarityStat {
  margin-left: 5px;
}

.iconStat {
  fill: white;
  display: flex;

  svg{
    margin-right: 5px;
    width: 1.1rem;
  }
}

.editorContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.75rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 10px;
}

.accordionEditorTypeContainer {
  display: flex;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
}

.accordionTypeImage {
  width: 20px;
  object-fit: cover;
  margin-right: 10px;
}

.editorStatContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  border-radius: 0.75rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 98px;
  padding: 0 10px;
  margin-right: 5px;
}

.artifactEditorStatsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artifactEditorStatsTitle {
  margin-bottom: 5px;
}

.editableStat {
  width: 100%;
  text-align: end !important;

  &:focus {
    box-shadow: none !important;
  }
}

.artifactEditorButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  min-height: 30px;
  border-radius: 0.75rem;
  cursor: pointer;
}

.icon {
  font-size: 20px;
  color: rgb(200, 60, 60);
  margin: 5px 0;
  cursor: pointer;

  * {
    transition: all ease-in-out .1s;
  }

  &:hover * {
    fill: lighten(rgb(200, 60, 60), 20);
  }
}

.accordionFixedWidth {
  width: 150px;
}

.accordionSelect {
  margin: 0 0 0 10px;
}