.calculatorStat {
  display: flex;
  align-items: center !important;
  border-radius: 0.75rem;
  width: 400px;
}

.calculatorStatItem {
  margin: 10px;
  text-align: center;
  border-radius: 0.75rem;

}